<form method="post">
    {% csrf_token %}
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>Aspecto a Considerar</th>
                <th>Valor Asociado</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for aspecto in form.aspectos %}
            <tr>
                <td>{{aspecto.aspecto.nombre}}</td>
                <td>
                    <select name="{{aspecto.name}}" class="select select-bordered w-full">
                        {% for opcion in aspecto.aspecto.opciones.all %}
                        <option value="{{opcion.valor}}" {% if opcion.valor == aspecto.value %}selected{% endif %}>{{opcion.opcion}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="text" class="input input-bordered w-full" name="{{aspecto.name}}_descripcion" value="{{aspecto.descripcion|default_if_none:''}}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-center items-center w-full">
        <div>
            <input type="submit" value="Guardar" class="btn btn-primary">
        </div>
    </div>
</form>
