{% load widget_tweaks %}
<div class="flex justify-between items-center p-3">
    <div class="w-1/4">
        <a href="{% url 'dashboard' %}" class="btn btn-teal-500">Regresar</a>
    </div>
    <div class="w-1/2 text-center">
        <h1 class="text-2xl">Postulación de Promoción para {{evaluacion.evaluado.user.first_name}}</h1>
        <p class="text-center text-sm text-gray-600">Según Competencias Técnicas: <b>{{nivel_competencias}}</b> | Nivel Actual: <b>{{nivel_previo}}</b></p>
    </div>
    <div class="w-1/4">
        <label for="nivel">Promocionar a:</label>
        <select id="nivel" name="nivel" class="select select-bordered w-full" hx-select="#form" hx-get="{% url 'postular_promocion' pk=evaluacion.pk %}" hx-target="#form" hx-swap="outerHTML">
            {% for nivel in niveles %}
            <option value="{{nivel.id}}" {% if nivel.id == nivel_competencias.id %}selected{% endif %}>{{nivel}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<form hx-post="{% url 'postular_promocion' pk=evaluacion.pk %}" hx-target="#form" hx-swap="outerHTML" hx-vals="js:{nivel: document.getElementById('nivel').value}">
    {% csrf_token %}
    <table class="table table-zebra w-full text-xs text-center">
        <thead>
            <tr class="bg-gray-900 text-white sticky top-0">
                <th>Aspecto a Considerar</th>
                <th>Valor Requerido</th>
                <th>Valor Empleado</th>
                <th>Descripción del Requerimiento</th>
                <th>Cumple</th>
                <th>Observaciones/Justificaciones</th>
            </tr>
        </thead>
        <tbody id="form">
            {% for aspecto, valor in formularios.items %}
            <tr class="border-b-2">
                <td>
                    {{aspecto.aspecto.nombre}}
                    {% render_field valor.formulario.detalle_aspecto class="hidden" %}
                </td>
                <td>
                    {% if aspecto.pregunta_asociada %}
                        <span class="tooltip tooltip-bottom" data-tip="{{aspecto.opcion_asociada.opcion}}">
                            <span class="tooltip" data-tip="{{aspecto.pregunta_asociada.pregunta}}">
                                {{aspecto.opcion_asociada.valor|default:aspecto.valor_asociado|default:'Leer Descripción'}}
                            </span>
                        </span>
                    {% else %}
                        {% if aspecto.aspecto.antiguedad %}
                            {{aspecto.valor_asociado}} meses
                        {% else %}
                            {{aspecto.opcion_asociada.valor|default:aspecto.valor_asociado|default:'Leer Descripción'}}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if valor.respuesta_eval %}
                        <span class="tooltip tooltip-bottom" data-tip="{{valor.respuesta_eval.opcion}}">
                            <span class="tooltip" data-tip="{{aspecto.pregunta_asociada.pregunta}}">
                                {{valor.respuesta_eval.valor|default:'N/A'}}
                            </span>
                        </span>
                    {% else %}
                        {% if aspecto.aspecto.antiguedad %}
                            {{evaluacion.evaluado.antiguedad}} meses
                        {% else %}
                            <span class="tooltip tooltip-bottom" data-tip="No hay pregunta asociada a este aspecto">N/A</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{aspecto.descripcion}}</td>
                <td>{% render_field valor.formulario.cumple class="select select-bordered w-full" %}</td>
                <td>{% render_field valor.formulario.justificacion class="input input-bordered w-full" required="" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-center items-center w-full">
        <div>
            <button type="submit" value="Guardar" class="btn btn-error">
                Guardar
            </button>
        </div>
    </div>
</form>

<input type="hidden" name="nivel" value="{{nivel_competencias.pk}}" id="id_nivel_comp">
<script>
    function checkNivel() {
        var nivel = parseInt(document.querySelector('#id_nivel_comp').value);
        var selectedOption = document.querySelector('#nivel').selectedOptions[0];
        var selectedNivel = parseInt(selectedOption.value);

        if (nivel < selectedNivel) {
            alert('El nivel seleccionado para promoción (' + selectedOption.textContent + ') es menor que el recomendado por competencias técnicas. Tomar en consideración que en este caso se recomienda justificar la promoción para su revisión.');
        }
    }

    function cambiarEtiquetas() {
        document.querySelectorAll('option[value="unknown"]').forEach(opcion => {
            opcion.textContent = "Justificar";
        });
    }
    
    cambiarEtiquetas();
    checkNivel();    

    document.querySelector('#nivel').addEventListener('change', checkNivel);
    document.addEventListener('htmx:afterSwap', cambiarEtiquetas);
</script>