{% load widget_tweaks %}
{% load static %}

<div class="flex justify-between items-center p-3">
    <div class="w-1/4">
        <a href="{% url 'dashboard' %}" class="btn btn-teal-500">Regresar</a>
    </div>
    <div class="w-1/2 text-center">
        <h1 class="text-2xl">Postulación de Promoción para {{evaluacion.evaluado.user.first_name}}</h1>
        <p class="text-center text-sm text-gray-600">Según Competencias Técnicas: <b>{{nivel_competencias}}</b> | Nivel Actual: <b>{{nivel_previo}}</b></p>
    </div>
    <div class="w-1/4">
        <label for="nivel">Promocionar a:</label>
        <select id="nivel" name="nivel" class="select select-bordered w-full" hx-select="#form" hx-get="{% url 'postular_promocion' pk=evaluacion.pk %}" hx-target="#form" hx-swap="outerHTML">
            {% for nivel in niveles %}
            <option value="{{nivel.id}}" {% if nivel.id == nivel_competencias.id %}selected{% endif %}>{{nivel}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<form hx-post="{% if gerencia %}{% url 'revisar_promocion' pk=evaluacion.pk %}{% else %}{% url 'postular_promocion' pk=evaluacion.pk %}{% endif %}"
      hx-target="closest .tab-content" 
      hx-swap="innerHTML" 
      hx-vals="js:{nivel: document.getElementById('nivel').value}" 
      hx-confirm="{% if gerencia %}¿Está seguro de realizar esta acción{% else %}¿Está seguro que desea postular al empleado a este nivel?{% endif %}">
    {% csrf_token %}
    <table class="table table-zebra w-full text-xs text-center mb-4">
        <thead>
            <tr class="bg-gray-900 text-white sticky top-0">
                <th>Aspecto a Considerar</th>
                <th>Valor Requerido</th>
                <th>Valor Empleado</th>
                <th>Descripción del Requerimiento</th>
                <th>Cumple</th>
                <th>Observaciones/Justificaciones {% if evaluacion.evaluado.gerencia %}Supervisor {% endif %}</th>
                {% if gerencia %}
                <th>Observaciones/Justificaciones Finales</th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="form">
            {% for aspecto, valor in formularios.items %}
            <tr class="border-b-2">
                <td>
                    {{aspecto.aspecto.nombre}}
                    {% render_field valor.formulario.detalle_aspecto class="hidden" %}
                </td>
                <td>
                    {% if aspecto.pregunta_asociada %}
                        <span class="tooltip tooltip-bottom" data-tip="{{aspecto.opcion_asociada.opcion}}">
                            <span class="tooltip" data-tip="{{aspecto.pregunta_asociada.pregunta}}">
                                {{aspecto.opcion_asociada.valor|default:aspecto.valor_asociado|default:'Leer Descripción'}}
                            </span>
                        </span>
                    {% else %}
                        {% if aspecto.aspecto.antiguedad or 'Años' in aspecto.aspecto.nombre %}
                            {{aspecto.valor_asociado}} meses
                        {% else %}
                            {{aspecto.opcion_asociada.valor|default:aspecto.valor_asociado|default:'Leer Descripción'}}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if valor.respuesta_eval %}
                        <span class="tooltip tooltip-bottom" data-tip="{{valor.respuesta_eval.opcion}}">
                            <span class="tooltip" data-tip="{{aspecto.pregunta_asociada.pregunta}}">
                                {{valor.respuesta_eval.valor|default:'N/A'}}
                            </span>
                        </span>
                    {% else %}
                        {% if aspecto.aspecto.antiguedad %}
                            {{evaluacion.evaluado.antiguedad}} meses
                        {% else %}
                            <span class="tooltip tooltip-bottom" data-tip="No hay pregunta asociada a este aspecto">N/A</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{aspecto.descripcion}}</td>
                <td>
                    <div class="bg-gray-200 p-1 rounded-lg tooltip" data-tip="">
                        <span class="tooltip" data-tip="Comparación Automática: {% if valor.respuesta_eval %}{% if valor.respuesta_eval.valor > aspecto.valor_asociado %}Cumple{% else %}No Cumple{% endif %}{% else %}Debe Justificarse{% endif %}">
                        {% render_field valor.formulario.cumple class="select select-bordered w-full" %}
                    </div>
                </td>
                <td>
                    {% if not gerencia %}
                    {% render_field valor.formulario.justificacion class="input input-bordered w-full" required="" %}
                    {% else %}
                    {{valor.res_previa.justificacion}}
                    {% endif %}
                </td>
                {% if gerencia %}
                <td>
                    {% render_field valor.formulario.justificacion class="input input-bordered w-full" required="" %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if gerencia %}
    <div class="flex justify-center items-center w-full mt-4">
        <div class="w-full">
            <label for="comentario_general_gghh" class="label">
                Comentario General GGHH (Acotaciones, felicitaciones, observaciones)
            </label>
            <textarea id="comentario_general_gghh" name="comentario_general_gghh" class="textarea textarea-bordered w-full" placeholder="Comentario general según la decisión tomada." required></textarea>
        </div>
    </div>
    {% endif %}

    <div class="flex w-full items-center">
        <input type="checkbox" name="check" id="check" class="checkbox" required />
        <div>
            {% if gerencia %}
            <p>&nbsp;Yo, {{request.user.first_name.upper}}, declaro en calidad de GERENTE DE GESTIÓN HUMANA, que revisé las respuestas previas y ajusté las mismas de acuerdo al escalafón. Luego de la revisión correspondiente he decidido entonces tomar la siguiente acción sobre esta solicitud de promoción:</p>
            {% else %}
            <p>&nbsp;Yo, {{request.user.first_name.upper}}, declaro en calidad de supervisor del empleado {{evaluacion.evaluado.user.first_name.upper}}, que esta solicitud sea enviada al GERENTE DE GESTIÓN HUMANA, a efectos de lograr la promoción al nivel solicitado.</p>
            {% endif %}
        </div>
    </div>

    <div class="flex justify-center items-center w-full">
        <div>
            {% if gerencia %}
            <button type="submit" value="Conceder" name="submit" class="btn btn-success">
                Conceder
            </button>
            <button type="submit" value="Denegar" name="submit" class="btn btn-error">
                Denegar
            </button>
            {% else %}
            <button type="submit" value="Guardar" class="btn btn-error">
                Guardar
            </button>
            {% endif %}
        </div>
    </div>
</form>

<input type="hidden" name="nivel" value="{{nivel_competencias.pk}}" id="id_nivel_comp">
<script src="{% static 'js/formulario-promocion.js' %}"></script>