{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="flex justify-evenly items-center p-3">
    <div class="w-25">
        <a href="{% url 'dashboard' %}" class="btn btn-teal-500">Regresar</a>
    </div>
    <div class="w-50">
        <h1 class="text-center text-2xl">{{titulo}}</h1>
    </div>
    <div class="w-25"></div>
</div>
<hr>

<form method="post">
    {% csrf_token %}
    {% for seccion in instrumento %}
    <div class="my-4">       
            <div class="my-2 max-w-screen">
                <table class="table max-w-screen">
                    <thead class="bg-gray-900">
                        <tr>
                            <th colspan="3" class="text-center text-lg text-white">
                                {% if seccion.seccion.descripcion %}
                                <h3 class="tooltip tooltip-left" data-tip="{{seccion.seccion.descripcion}}">{{seccion.seccion.titulo}}</h3>
                                {% else %}
                                <h3>{{seccion.seccion.titulo}}</h3>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pregunta in seccion.preguntas %}
                        <tr class="hover:bg-gray-100">
                            <td class="text-center w-1/5">{{forloop.counter}}</td>
                            <td class="text-center w-2/5">
                                {% if pregunta.pregunta.tip %}
                                <h3 class="text-md font-semibold text-center tooltip" data-tip="{{pregunta.pregunta.tip}}">
                                {% else %}
                                <h3 class="text-md font-semibold text-center">
                                {% endif %}
                                    {{pregunta.pregunta.pregunta}}
                                </h3>
                                {% render_field pregunta.form.pregunta class="hidden" type="hidden" %}
                                <small class="text-error">
                                    {% for error in pregunta.form.pregunta.errors %}{{error}}<br>{% endfor %}
                                </small>
                            </td>
                            <td class="text-center w-2/5">
                                <select name="{{pregunta.form.prefix}}-respuesta_empleado" id="id_{{pregunta.form.prefix}}-respuesta_empleado" class="select select-bordered w-full max-w-xs" required>
                                    <option disabled selected>Seleccionar</option>
                                    {% for opcion in pregunta.pregunta.opciones.all %}
                                        <option value="{{opcion.valor}}" {% if opcion.valor == pregunta.form.instance.respuesta_empleado %}selected{% endif %}>{{opcion.opcion}}</option>
                                    {% endfor %}
                                </select>
                                <small class="text-error">
                                    {% for error in pregunta.form.respuesta_empleado.errors %}{{error}}<br>{% endfor %}
                                </small>

                                <br>
                                {% render_field pregunta.form.comentario_empleado class="input input-bordered mt-1 w-full max-w-xs" placeholder="Comentario del Evaluado" type="text" %}
                                <small class="text-error">
                                    {% for error in pregunta.form.comentario_empleado.errors %}{{error}}<br>{% endfor %}
                                </small>
                            </td>
                        </tr>
                        {% endfor %}
                    </div>
                    </tbody>
                </table>
            </div>
    </div>
    {% endfor %}
    <div class="flex justify-center items-center w-full">
        <div>
            <input type="submit" value="Guardar" class="btn btn-error">
        </div>
    </div>
</form>

<script src="{% static 'js/carga-formulario.js' %}"></script>
{% endblock %}