{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="flex justify-evenly items-center p-3">
    <div class="w-25">
        {% if url_previo != '' %}
        <a hx-get="{{url_previo}}"  hx-target="closest .tab-content" class="btn btn-teal-500">Regresar</a>
        {% else %}
        <a href="{% url 'dashboard' %}" class="btn btn-teal-500" hx-boost="true">Regresar</a>
        {% endif %}
    </div>
    <div class="w-50">
        <h1 class="text-center text-2xl">{{titulo}}</h1>
    </div>
    <div class="w-25"></div>
</div>
<hr>
{% if anadido_por == 'E' %}
<form method="post" hx-select="main" hx-target="main" hx-post="{% url 'metas' pk=evaluacion.pk %}">
{% elif anadido_por == 'H' %}
<form method="post" hx-target="closest .tab-content" hx-post="{% url 'metas_definitivas' pk=evaluacion.pk %}">
{% else %}
<form method="post" hx-target="closest .tab-content" hx-post="{% url 'metas_supervisado' pk=evaluacion.pk %}">
{% endif %}
    {% csrf_token %}
    <div class="my-4">       
            <div class="my-2 max-w-screen">
                <table class="table table-bordered max-w-screen">
                    <thead class="bg-gray-900 text-md text-white text-center">
                        <tr>
                            <th class="w-3/5">
                                Metas y Logros en el período evaluado
                            </th>
                            <th class="w-1/5">
                                <div class="tooltip" data-tip="Coloque el Porcentaje cumplido de la meta o el logro.">
                                    % Cumplido
                                </div>
                            </th>
                            <th class="w-1/5">
                                +/-
                            </th> 
                        </tr>
                    </thead>
                    <tbody id="form-actual">
                        {{formset_actual.management_form}}
                        {% for form in formset_actual %}
                        <tr class="form-actual hover:bg-gray-100">
                            <td class="text-center w-2/4">
                                {% for hidden_field in form.hidden_fields %}
                                {{hidden_field}}
                                {% endfor %}
                                {% render_field form.descripcion class="input input-bordered w-full" placeholder="Meta o Logro en este Período" required="true" %}
                            </td>
                            <td class="text-center w-1/8">
                                {% render_field form.porc_cumplimiento class="input input-bordered w-full" placeholder="% Cumplido" min=0 max=100 required="true" %}
                            </td>
                            <td class="flex justify-center">
                                {% if forloop.first %}
                                <button class="btn btn-success anadir" type="button">
                                    +
                                </button>
                                {% else %}
                                <button class="btn btn-error eliminar" type="button">
                                    -
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="my-2 max-w-screen">
                <table class="table table-bordered max-w-screen">
                    <thead class="bg-gray-900 text-md text-white text-center">
                        <tr>
                            <th class="w-3/5">
                                Metas para el siguiente período
                            </th>
                            <th class="w-1/5">
                                <div class="tooltip" data-tip="Seleccione si la meta es Prioritaria o No Prioritaria">
                                    Nivel de Prioridad
                                </div>
                            </th>
                            <th class="w-1/5">
                                +/-
                            </th> 
                        </tr>
                    </thead>
                    <tbody id="form-proximo">
                        {{formset_proximo.management_form}}
                        {% for form in formset_proximo %}
                        <tr class="form-proximo hover:bg-gray-100">
                            <td class="text-center w-2/4">
                                {% for hidden_field in form.hidden_fields %}
                                {{hidden_field}}
                                {% endfor %}
                                {% render_field form.descripcion class="input input-bordered w-full" placeholder="Meta para el siguiente Período" required="true" %}
                            </td>
                            <td class="text-center w-1/8">
                                {% render_field form.nivel_prioridad class="select select-bordered w-full" required="true" %}
                            </td>
                            <td class="flex justify-center">
                                {% if forloop.first %}
                                <button class="btn btn-success anadir" type="button">
                                    +
                                </button>
                                {% else %}
                                <button class="btn btn-error eliminar" type="button">
                                    -
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
    </div>

    <div class="flex justify-center items-center w-full">
        <div>
            <input type="submit" value="Guardar" class="btn btn-error">
        </div>
    </div>
</form>

<script src="{% static 'js/dynamic-forms.js' %}"></script>
{% endblock %}