{% extends 'base.html' %}

{% block content %}
<div role="tablist" class="tabs tabs-lifted">
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Inicio" checked />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <h1 class="text-3xl text-center font-semibold">Evaluación de Desempeño del Personal</h1>

        <div class="grid grid-cols-12">
            <div class="md:col-span-3 xs:col-span-12">
                <div class="card border-2 border my-4">
                    <div class="card-content p-4">
                        <h2 class="text-2xl font-semibold text-center">Información del Usuario</h2>
                        <hr>
                        <div class="overflow-x-auto">
                            <table class="table w-full">
                                <tbody>
                                    <tr>
                                        <th>Ficha</th>
                                        <td>{{datos_personal.ficha}}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{request.user.get_full_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tipo de Personal</th>
                                        <td>{{datos_personal.tipo_personal}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cargo</th>
                                        <td>{{datos_personal.cargo}}</td>
                                    </tr>
                                    <tr>
                                        <th>Supervisor</th>
                                        <td>{% if datos_personal.supervisor %}{{datos_personal.supervisor.get_full_name.upper}}{% else %}No tiene{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Gerencia</th>
                                        <td>{{datos_personal.gerencia}}</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha de Ingreso</th>
                                        <td>{{datos_personal.fecha_ingreso}}</td>
                                    </tr>
                                    <tr>
                                        <th>Antigüedad</th>
                                        <td>{{antiguedad}} meses</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md:col-span-9 xs:col-span-12">
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <div class="card border-2 border my-4 mx-2 w-full" id="proceso-evaluacion" style="min-width: 100%;">
                            <div class="card-content p-3">
                                <h2 class="text-center text-2xl font-semibold">Proceso de Evaluación</h2>
                                <hr><br>
                                <ul class="steps steps-horizontal w-full">
                                    <li class="step {% if evaluacion.estado != 'P' %}{% if evaluacion.estado != 'E' %}step-error{% else %}step-error{% endif %}{% endif %}">Autoevaluación</li>
                                    <li class="step {% if evaluacion.estado != 'P' and evaluacion.estado != 'E' %}{% if evaluacion.estado != 'S' %}step-error{% else %}step-error{% endif %}{% endif %}">Revisión por Supervisor</li>
                                    <li class="step {%  if evaluacion.estado == 'G' or evaluacion.estado == 'H' or evaluacion.estado == 'A' %}{% if evaluacion.estado == 'G' %}step-error{% else %}step-error{% endif %}{% endif %}">Revisión por Gerencia</li>
                                    <li class="step {% if evaluacion.estado == 'H' or evaluacion.estado == 'A' %}step-error{% endif %}">Revisión por Gestión Humana</li>
                                    <li class="step {% if evaluacion.estado == 'A' or evaluacion.estado == 'R' %}step-error{% endif %}">Aprobada</li>
                                </ul>

                                {% if evaluacion.estado != 'P' and evaluacion.estado != 'E' %}
                                <table class="table w-full">
                                    <tbody>
                                        <tr>
                                            <th>Periodo</th>
                                            <td class="text-center">{{periodo.fecha_inicio}} - {{periodo.fecha_fin}}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de Inicio</th>
                                            <td class="text-center">{{evaluacion.fecha_envio|default:'-'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha Envío a Supervisor</th>
                                            <td class="text-center">{{evaluacion.fecha_fin|default:'-'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha Revisión por Supervisor</th>
                                            <td class="text-center">{{evaluacion.fecha_revision|default:'-'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha Aprobación</th>
                                            <td class="text-center">{{evaluacion.fecha_aprobacion|default:'-'}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-center">
                                                <label for="modal-evaluacion" class="btn btn-error">Ver Evaluación</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <input type="checkbox" id="modal-evaluacion" class="modal-toggle" />
                                <div class="modal" role="dialog">
                                    <div class="modal-box w-11/12 max-w-5xl">
                                        <div class="flex justify-center items-center">
                                            <h3 class="text-lg font-bold">Evaluación &nbsp;</h3>
                                            <select name="version" id="version">
                                                <option value="E">Empleado</option>
                                                <option value="S">Supervisor</option>
                                                <option value="G">Gestión Humana</option>
                                            </select>
                                        </div>
                                        <table class="table-xs w-full p-5 my-5">
                                            <tbody>
                                                <tr>
                                                    <th>Evaluado</th>
                                                    <td class="text-center">{{datos_personal.user.get_full_name}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Cargo</th>
                                                    <td class="text-center">{{datos_personal.cargo}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Periodo</th>
                                                    <td class="text-center">{{periodo.fecha_inicio}} - {{periodo.fecha_fin}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Fecha de Inicio</th>
                                                    <td class="text-center">{{evaluacion.fecha_envio|default:'-'}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Fecha Envío a Supervisor</th>
                                                    <td class="text-center">{{evaluacion.fecha_fin|default:'-'}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Fecha Revisión por Supervisor</th>
                                                    <td class="text-center">{{evaluacion.fecha_revision|default:'-'}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Fecha Aprobación</th>
                                                    <td class="text-center">{{evaluacion.fecha_aprobacion|default:'-'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <hr>

                                        <div class="my-5">
                                            {% for resultado in evaluacion.resultados.all %}
                                            <div class="collapse collapse-arrow bg-base-200 mb-2">
                                                <input type="checkbox" name="my-accordion-{{resultado.instrumento}}" />
                                                <div class="collapse-title text-xl font-medium">{{resultado.instrumento}} ({{resultado.resultado_empleado}} / {{resultado.instrumento.peso}})</div>
                                                <div class="collapse-content">
                                                    <div hx-trigger="revealed once" hx-get="evaluacion/seccion/" hx-vals="js:{version: document.getElementById('version').value, pk: {{evaluacion.pk}}, instrumento: {{resultado.pk}}}" hx-swap="outerHTML"></div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="collapse collapse-arrow bg-base-200 mb-2">
                                                <input type="checkbox" name="my-accordion-dnf" />
                                                <div class="collapse-title text-xl font-medium">Detección de Necesidades de Formación</div>
                                                <div class="collapse-content">
                                                    <div hx-trigger="revealed once" hx-get="{% url 'consulta_formacion' pk=evaluacion.pk %}" hx-vals="js:{version: document.getElementById('version').value}" hx-swap="outerHTML"></div>
                                                </div>
                                            </div>
                                            <div class="collapse collapse-arrow bg-base-200 mb-2">
                                                <input type="checkbox" name="my-accordion-metas" />
                                                <div class="collapse-title text-xl font-medium">Logros y Metas</div>
                                                <div class="collapse-content">
                                                    <div hx-trigger="revealed" hx-get="{% url 'consulta_metas' pk=evaluacion.pk %}" hx-vals="js:{version: document.getElementById('version').value}" hx-swap="outerHTML"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="modal-backdrop" for="modal-evaluacion">Close</label>
                                </div>
                                {% elif evaluacion.estado == 'P' %}
                                <div class="w-full flex justify-center items-center p-4">
                                    <form method="post" hx-post="{% url 'comenzar_evaluacion' pk=evaluacion.pk %}" hx-select="#proceso-evaluacion" hx-target="#proceso-evaluacion" hx-swap="outerHTML">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-error" id="btn_comenzar">Comenzar Evaluación</button>
                                    </form>
                                </div>
                                {% else %}
                                <table class="table w-full text-center">
                                    <thead>
                                        <tr>
                                            <th>Instrumento</th>
                                            <th>Estado</th>
                                            <th>Total</th>
                                            <th>Editar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for instrumento in instrumentos %}
                                        <tr>
                                            <td>{{instrumento.nombre}}</td>
                                            <td>
                                                {% if instrumento.completado %}
                                                <span class="badge badge-success">Completado</span>
                                                {% else %}
                                                <span class="badge badge-error">Pendiente</span>
                                                {% endif %}
                                            </td>
                                            <td>{{instrumento.resultado|default:"-"}} / {{instrumento.peso|floatformat:2}}</td>
                                            <td><a class="btn btn-error" href="{% url 'instrumento' pk=instrumento.pk %}">Acceder al Instrumento</a></td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>Formación</td>
                                            <td>
                                                {% if evaluacion.formaciones.all.exists %}
                                                <span class="badge badge-success">Completado</span>
                                                {% else %}
                                                <span class="badge badge-error">Pendiente</span>
                                                {% endif %}
                                            </td>
                                            <td>N/A</td>
                                            <td>
                                                <a class="btn btn-error" href="{% url 'formacion' pk=evaluacion.pk %}">Acceder al Instrumento</a>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td>Logros y Metas</td>
                                            <td>
                                                {% if evaluacion.logros_y_metas.all.exists %}
                                                <span class="badge badge-success">Completado</span>
                                                {% else %}
                                                <span class="badge badge-error">Pendiente</span>
                                                {% endif %}
                                            </td>
                                            <td>N/A</td>
                                            <td>
                                                <a class="btn btn-error" href="{% url 'metas' pk=evaluacion.pk %}">Acceder al Instrumento</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" class="text-center">
                                                <b>TOTAL</b>
                                            </td>
                                            <td>{{evaluacion.total|default:"-"}} / {{evaluacion.peso|floatformat:2}}</td>
                                        </tr>

                                        {% if puede_finalizar %}
                                        <tr>
                                            <td colspan="4" class="text-center">
                                                <label for="modal-evaluacion" class="btn btn-error">Revisar Evaluación para enviar al Supervisor</label>
                                                <input type="checkbox" id="modal-evaluacion" class="modal-toggle" />
                                                <div class="modal" role="dialog">
                                                    <div class="modal-box w-11/12 max-w-5xl">
                                                        <div class="flex justify-center items-center">
                                                            <h3 class="text-lg font-bold">Evaluación &nbsp;</h3>
                                                            <select name="version" id="version">
                                                                <option value="E">Empleado</option>
                                                            </select>
                                                        </div>
                                                        <table class="table-xs w-full p-5 my-5">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Evaluado</th>
                                                                    <td class="text-center">{{datos_personal.user.get_full_name}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Cargo</th>
                                                                    <td class="text-center">{{datos_personal.cargo}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Periodo</th>
                                                                    <td class="text-center">{{periodo.fecha_inicio}} - {{periodo.fecha_fin}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Fecha de Inicio</th>
                                                                    <td class="text-center">{{evaluacion.fecha_envio|default:'-'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Fecha Envío a Supervisor</th>
                                                                    <td class="text-center">{{evaluacion.fecha_fin|default:'-'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Fecha Revisión por Supervisor</th>
                                                                    <td class="text-center">{{evaluacion.fecha_revision|default:'-'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Fecha Aprobación</th>
                                                                    <td class="text-center">{{evaluacion.fecha_aprobacion|default:'-'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <hr>

                                                        <div class="my-5">
                                                            {% for resultado in evaluacion.resultados.all %}
                                                            <div class="collapse collapse-arrow bg-base-200 mb-2">
                                                                <input type="checkbox" name="my-accordion-{{resultado.instrumento}}" />
                                                                <div class="collapse-title text-xl font-medium">{{resultado.instrumento}} ({{resultado.resultado_empleado}} / {{resultado.instrumento.peso}})</div>
                                                                <div class="collapse-content">
                                                                    <div hx-trigger="revealed once" hx-get="evaluacion/seccion/" hx-vals="js:{version: document.getElementById('version').value, pk: {{evaluacion.pk}}, instrumento: {{resultado.pk}}}" hx-swap="outerHTML"></div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                            <div class="collapse collapse-arrow bg-base-200 mb-2">
                                                                <input type="checkbox" name="my-accordion-dnf" />
                                                                <div class="collapse-title text-xl font-medium">Detección de Necesidades de Formación</div>
                                                                <div class="collapse-content">
                                                                    <div hx-trigger="revealed once" hx-get="{% url 'consulta_formacion' pk=evaluacion.pk %}" hx-vals="js:{version: document.getElementById('version').value}" hx-swap="outerHTML"></div>
                                                                </div>
                                                            </div>
                                                            <div class="collapse collapse-arrow bg-base-200 mb-2">
                                                                <input type="checkbox" name="my-accordion-metas" />
                                                                <div class="collapse-title text-xl font-medium">Logros y Metas</div>
                                                                <div class="collapse-content">
                                                                    <div hx-trigger="revealed" hx-get="{% url 'consulta_metas' pk=evaluacion.pk %}" hx-vals="js:{version: document.getElementById('version').value}" hx-swap="outerHTML"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="my-5 text-justify">
                                                            <form class="flex justify-center items-center flex-col" hx-post="{% url 'finalizar_evaluacion' pk=evaluacion.pk %}" hx-target="body">
                                                                <div class="my-3">
                                                                    <input type="checkbox" name="aceptar" id="aceptar" class="checkbox" required>
                                                                    <label for="aceptar">
                                                                        &nbsp;Yo, {{request.user.get_full_name.upper}}, declaro que he revisado todas las respuestas brindadas en mi autoevaluación, y estoy de acuerdo en que sea enviada a mi supervisor. 
                                                                    </label>
                                                                    <hr>
                                                                </div>
                                                                <div class="flex justify-center my-3">
                                                                    <button id="enviar-evaluacion" type="submit" class="btn btn-error">Enviar la evaluación a mi supervisor</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <label class="modal-backdrop" for="modal-evaluacion">Close</label>
                                                </div>
                                            
                                            </td>
                                        </tr>
                                        
                                        {% endif %}
                                    </tbody>
                                </table>
                                <script>
                                    document.addEventListener("htmx:beforeRequest", event => {
                                        if (event.detail.verb === "post" && !confirm("¿Estás seguro de enviar la evaluación? No podrás hacerle cambios directamente de nuevo.")) 
                                            event.preventDefault();
                                    });
                                </script>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Consultar" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      Tab content 2
    </div>
  
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Revisar" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      Tab content 3
    </div>
  </div>
{% endblock %}