<table class="table table-xs table-zebra text-center">
    <thead>
        <tr class="bg-gray-900 text-white">
            <th colspan="2">Metas y Logros en el periodo evaluado</th>
        </tr>
        <tr>
            <th>Metas y Logros</th>
            <th>% Cumplido</th>
        </tr>
    </thead>
    <tbody>
        {% for meta in metas_periodo_actual %}
        <tr class="border-b">
            <td>{{meta.descripcion}}</td>
            <td>{{meta.porc_cumplimiento|floatformat:2}}%</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No se han cargado metas o logros para el periodo actual.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<table class="table table-xs table-zebra text-center mt-3">
    <thead>
        <tr class="bg-gray-900 text-white">
            <th colspan="2">Metas y Logros en el proximo periodo</th>
        </tr>
        <tr>
            <th>Meta</th>
            <th>Nivel de Prioridad</th>
        </tr>
    </thead>
    <tbody>
        {% for meta in metas_periodo_proximo %}
        <tr class="border-b">
            <td>{{meta.descripcion}}</td>
            <td>{{meta.prioridad_larga}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No se han cargado metas o logros para el próximo periodo.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>