<input type="checkbox" id="modalpromocion-{{id}}{% if gerencia %}-gerencia{% endif %}{% if extra_suffix != None %}-{{extra_suffix}}{% endif %}" class="modal-toggle" />
<div class="modal" role="dialog">
    <div class="modal-box w-11/12 max-w-5xl">
        <div class="flex justify-center items-center">
            <h3 class="text-lg font-bold">Solicitud de Promoción</h3>
        </div>

        <table class="table-xs table-zebra w-full p-5 my-5">
            <tbody>
                <tr>
                    <th>Evaluado</th>
                    <td class="text-center">{{solicitud.evaluacion.evaluado.user.get_full_name}}</td>
                </tr>
                <tr>
                    <th>Supervisor Solicitante</th>
                    <td class="text-center">{{solicitud.evaluacion.evaluado.supervisor.user.get_full_name|default:'No tiene'}}</td>
                </tr>
                <tr>
                    <th>Periodo</th>
                    <td class="text-center">{{solicitud.evaluacion.periodo.fecha_inicio}} - {{solicitud.evaluacion.periodo.fecha_fin}}</td>
                </tr>
                <tr>
                    <th>Fecha de Envío</th>
                    <td class="text-center">{{solicitud.fecha_envio|default:'-'}}</td>
                </tr>
                <tr>
                    <th>Fecha Decisión</th>
                    <td class="text-center">{{solicitud.fecha_aprobacion|default:'-'}}</td>
                </tr>
                <tr>
                    <th>Resultado</th>
                    <td class="text-center">
                        {% if solicitud.estado != "PROMOCIÓN PENDIENTE" %}
                            {{solicitud.estado}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="my-5">
            <table class="table-xs table-zebra w-full p-5 my-5">
                <thead>
                    <tr class="bg-gray-900 text-white">
                        <th>Aspecto</th>
                        <th>Valor requerido</th>
                        <th>Valor evaluado</th>
                        <th>Descripción</th>
                        <th>Cumple (Sup.)</th>
                        <th>Observaciones/Justificación (Sup.)</th>
                        <th>Cumple (GGHH)</th>
                        <th>Observaciones/Justificación (GGHH)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for respuesta in solicitud.respuestas_solicitud_promocion.all %}
                    <tr>
                        <td>{{respuesta.detalle_aspecto.aspecto.nombre}}</td>
                        <td>
                            {% if respuesta.detalle_aspecto.aspecto.antiguedad %}
                                {{respuesta.detalle_aspecto.valor_asociado}} meses
                            {% else %}
                                {{respuesta.detalle_aspecto.opcion_asociada.valor|default:respuesta.detalle_aspecto.valor_asociado|default:'Leer Descripción'}}
                            {% endif %}
                        </td>
                        <td>
                            {% if respuesta.detalle_aspecto.aspecto.antiguedad %}
                                {{solicitud.evaluacion.evaluado.antiguedad}} meses
                            {% else %}
                                {{respuesta.valor_evaluado|default:'N/A'}}
                            {% endif %}
                        </td>
                        <td>{{respuesta.detalle_aspecto.descripcion}}</td>
                        <td>
                            {% if respuesta.cumple %}
                                Si
                            {% elif respuesta.cumple is None %}
                                Leer Justificación
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>{{respuesta.justificacion}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <label class="modal-backdrop" for="modalpromocion-{{id}}{% if gerencia %}-gerencia{% endif %}{% if extra_suffix != None %}-{{extra_suffix}}{% endif %}">Close</label>
</div>