<input type="checkbox" id="modal-{{id}}" class="modal-toggle" />
<div class="modal" role="dialog">
    <div class="modal-box w-11/12 max-w-5xl">
        <div class="flex justify-center items-center">
            <h3 class="text-lg font-bold">Evaluación &nbsp;</h3>
            <select name="version" id="version">
                {% if tipo != 'S' %}
                <option value="E">Empleado</option>
                {% if include_others %}
                <option value="S">Supervisor</option>
                <option value="H">Gestión Humana</option>
                {% endif %}
                {% else %}
                <option value="S">Supervisor</option>
                <option value="E">Empleado</option>
                {% endif %}
            </select>
        </div>
        <table class="table-xs table-zebra w-full p-5 my-5">
            <tbody>
                <tr>
                    <th>Evaluado</th>
                    <td class="text-center">{{evaluacion.evaluado.user.get_full_name}}</td>
                </tr>
                <tr>
                    <th>Cargo</th>
                    <td class="text-center">{{evaluacion.evaluado.cargo}}</td>
                </tr>
                <tr>
                    <th>Supervisor</th>
                    <td class="text-center">{{evaluacion.evaluado.supervisor.user.get_full_name}}</td>
                </tr>
                <tr>
                    <th>Periodo</th>
                    <td class="text-center">{{evaluacion.periodo.fecha_inicio}} - {{evaluacion.periodo.fecha_fin}}</td>
                </tr>
                <tr>
                    <th>Fecha de Inicio</th>
                    <td class="text-center">{{evaluacion.fecha_envio|default:'-'}}</td>
                </tr>
                <tr>
                    <th>Fecha Envío a Supervisor</th>
                    <td class="text-center">{{evaluacion.fecha_fin|default:'-'}}</td>
                </tr>
                <tr>
                    <th>Fecha Entrega a Gestión Humana</th>
                    <td class="text-center">{{evaluacion.fecha_entrega|default:'-'}}</td>
                </tr>
                <tr>
                    <th>Fecha Revisión por Supervisor</th>
                    <td class="text-center">{{evaluacion.fecha_revision|default:'-'}}</td>
                </tr>
                <tr>
                    <th>Fecha Aprobación</th>
                    <td class="text-center">{{evaluacion.fecha_aprobacion|default:'-'}}</td>
                </tr>
            </tbody>
        </table>

        <div class="my-5">
            {% for resultado in evaluacion.resultados.all %}
            <div class="collapse collapse-arrow bg-base-200 mb-2">
                <input type="checkbox" name="my-accordion-{{resultado.instrumento}}" />
                <div class="collapse-title text-xl font-medium">
                    {{resultado.instrumento}} ({{resultado.resultado_supervisor}} / {{resultado.instrumento.peso}})
                </div>
                <div class="collapse-content">
                    <div hx-trigger="revealed once" hx-get="evaluacion/seccion/" hx-vals="js:{version: document.getElementById('version').value, pk: {{evaluacion.pk}}, instrumento: {{resultado.pk}}}" hx-swap="outerHTML"></div>
                </div>
            </div>
            {% empty %}
            <h3 class="text-center">No se han cargado respuestas de los instrumentos.</h3>
            {% endfor %}

            {% if evaluacion.formaciones.count %}
            <div class="collapse collapse-arrow bg-base-200 mb-2">
                <input type="checkbox" name="my-accordion-dnf" />
                <div class="collapse-title text-xl font-medium">Detección de Necesidades de Formación</div>
                <div class="collapse-content">
                    <div hx-trigger="revealed once" hx-get="{% url 'consulta_formacion' pk=evaluacion.pk %}" hx-vals="js:{version: document.getElementById('version').value}" hx-swap="outerHTML"></div>
                </div>
            </div>
            {% else %}
            <h3 class="text-center">No se han cargado las respuestas de la detección de necesidades de formación.</h3>
            {% endif %}

            {% if evaluacion.logros_y_metas.count %}
            <div class="collapse collapse-arrow bg-base-200 mb-2">
                <input type="checkbox" name="my-accordion-metas" />
                <div class="collapse-title text-xl font-medium">Logros y Metas</div>
                <div class="collapse-content">
                    <div hx-trigger="revealed" hx-get="{% url 'consulta_metas' pk=evaluacion.pk %}" hx-vals="js:{version: document.getElementById('version').value}" hx-swap="outerHTML"></div>
                </div>
            </div>
            {% else %}
            <h3 class="text-center">No se han cargado las respuestas de logros y metas.</h3>
            {% endif %}
        </div>

        {% if evaluacion.estado != 'P' and evaluacion.estado != 'R' %}
        <div class="stats shadow">
            <div class="stat bg-gray-900 text-white">
              <div class="stat-title text-white">Resultado de la Evaluación</div>
              <div class="stat-value">{{evaluacion.total|floatformat:2}}</div>
              <div class="stat-desc text-white">de {{evaluacion.peso|floatformat:2}} puntos.</div>
            </div>
        </div>
        {% endif %}

        {% if finish %}
        <div class="my-5 text-left">
            <form class="flex justify-center items-center flex-col" hx-confirm="¿Está seguro que desea enviar la evaluación al gerente de la gerencia del evaluado? No podrá modificar la evaluación directamente de nuevo, a menos que sea rechazada." hx-post="{% url 'enviar_gerente' pk=evaluacion.pk %}" hx-target="body">
                <div class="my-3">
                    <input type="checkbox" name="aceptar" id="aceptar" class="checkbox" required>
                    <label for="aceptar">
                        {% if tipo == 'S' %}
                        &nbsp;Yo, {{request.user.get_full_name.upper}}, declaro que he revisado todas las respuestas brindadas en la autoevaluación por mi supervisado: {{evaluacion.evaluado.user.get_full_name.upper}}, con quien me he reunido para modificar elementos de su autoevaluación, y apruebo que estas sean enviadas al gerente de {{evaluacion.evaluado.gerencia.nombre.upper}}. 
                        {% else %}
                        &nbsp;Yo, {{request.user.get_full_name.upper}}, declaro que he revisado todas las respuestas brindadas en mi autoevaluación, y estoy de acuerdo en que sea enviada a mi supervisor. 
                        {% endif %}
                    </label>
                </div>
                <div class="w-full">
                    <input type="text" class="w-full input input-bordered"placeholder="Ingrese sus comentarios sobre los resultados" name="comentarios">
                </div>
                <div class="flex justify-center my-3 w-full">
                    <button id="enviar-evaluacion" type="submit" class="btn btn-error">Enviar la evaluación a mi supervisor</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    <label class="modal-backdrop" for="modal-{{id}}">Close</label>
</div>