{% load static %}
<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDESCA - Evaluación de Desempeño</title>

    <!-- INTERNAL IMPORTS -->
    <link rel="stylesheet" href="{% static 'css/daisy-ui.min.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/tailwindcss.min.js' %}"></script>

    {% block head %}
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' >
    <div class="flex flex-col">
        {% include 'navbar.html' %}

        <main class="flex-grow p-5">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    
    {% include 'footer.html' %}   
</body>
</html>